.comp-0 {
  background: #08ff00aa !important
}

.comp-1 {
  background: #fff1aebb !important;
}

.comp-2 {
  background: #ffda2fcc !important;
}

.comp-3 {
  background: #ff9a00dd !important;
}

.comp-4 {
  background: #ff3d00ee !important;
}

.comp-5 {
  background: #ff0000ff !important;
}
